<div style="text-align:center">
    <h1>
      Welcome to {{ title }}
    </h1>
</div>

<div>
    <nav class="navbar navbar-expand-md navbar-light navigation-clean-button">
        <div class="container-fluid"><a class="navbar-brand" href="#">My Music</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/create']">Create Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" (click)="displayMovieList()">Movie List</a>
                    </li>
                </ul>
                <span class="navbar-text actions"><a class="btn btn-light action-button" role="button" href="#" (click)="displayVersion()">Version</a></span>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
